<div class="nes-container is-dark is-centered with-title">
    <span class="title">Settings</span>
    <div class="nes-container with-title is-dark">
        <span class="title">Info</span>
        <div class="setting group">
            <div class="setting group-child">
                <span >Avatar</span>
                <div class="setting info-group-child">
                    <label type='button' class="nes-btn" for='edit-avatar'>Select !</label>
                    <input :hidden id='edit-avatar' class="nes-input" type="file" />
                </div>
            </div>
            <div class="setting group-child">
                <span>Username</span>
                <input class="nes-input" type="text" [(ngModel)]="username"/>
                <button class="nes-btn is-primary" (click)="updateUsername()"> Save </button>
            </div>
        </div>
    </div>
    <div class="nes-container with-title is-dark">
        <span class="title">Security</span>
        <span>Two factor auth: </span>
        <!-- 2fa: enable -->
        <app-two-factor-action-button></app-two-factor-action-button>
        <!-- 2fa: disable -->
        <app-action-button></app-action-button>
    </div>
    <div class="nes-container with-title is-dark">
        <span class="title">Privacy</span>
        <span>Blocked users:</span>
        <div class="setting block-list-item">
            <app-player-info></app-player-info>
            <button class="nes-btn is-error">Unblock!</button>
        </div>
        <div class="setting block-list-item">
            <app-player-info></app-player-info>
            <button class="nes-btn is-error">Unblock!</button>
        </div>
        <div class="setting block-list-item">
            <app-player-info></app-player-info>
            <button class="nes-btn is-error">Unblock!</button>
        </div>
    </div>

</div>
