<!-- nes-playground -->
<!--
<div class="nes-container is-centered is-rounded">
<div class="topic">
    <h3 class="topic-title">
    user-info works!
    </h3>
    <p class="">Hello nes.css !</p>
    <p class="nes-text">Hello nes.css !</p>
    <p class="nes-text is-primary">Hello nes.css !</p>
    <p class="nes-text is-success">Hello nes.css !</p>
    <p class="nes-text is-warning">Hello nes.css !</p>
    <p class="nes-text is-error">Hello nes.css !</p>
<i class="nes-icon is-large heart"></i>
<div class="nes-avatar"></div>
</div>
<img src="https://www.gravatar.com/avatar/3bc8ceda0c2d6dcbc3b4a844c02a39c4?default=retro">
<img class="nes-avatar" src="https://www.gravatar.com/avatar/3bc8ceda0c2d6dcbc3b4a844c02a39c4?default=retro">
<img class="nes-avatar is-large" src="https://www.gravatar.com/avatar/3bc8ceda0c2d6dcbc3b4a844c02a39c4?default=retro">
<img class="nes-avatar is-rounded is-large" src="https://www.gravatar.com/avatar/3bc8ceda0c2d6dcbc3b4a844c02a39c4?default=retro">
<img class="nes-avatar is-pixelated is-rounded is-large" src="https://www.gravatar.com/avatar/3bc8ceda0c2d6dcbc3b4a844c02a39c4?default=retro">

</div>

<div class="nes-container is-centered">
<div class="nes-badge"><span class="is-dark">Newcomer</span></div>
<div class="nes-badge"><span class="is-primary">Newcomer</span></div>
<div class="nes-badge"><span class="is-success">Newcomer</span></div>
<a class="nes-badge"><span class="is-warning">Newcomer</span></a>
<a class="nes-badge"><span class="is-error">Newcomer</span></a>
<div class="nes-badge is-splited"><span class="is-dark">foo</span><span class="is-primary">bar</span></div>
<div class="nes-badge is-icon"><span class="is-dark">foo</span><span class="is-primary">bar</span></div>
</div>
-->

<!-- css-layout-playground -->
<!--
<div class="normal-flow">
    <p>I love my cat.</p>

    <ul>
        <li>Buy cat food</li>
        <li>Exercise</li>
        <li>Cheer up friend</li>
    </ul>
    <p>The end!</p>
</div>
-->
<!--
<div class="wrapper">
    <div class="box1">One</div>
    <div class="box2">Two</div>
    <div class="box3">Three</div>
</div>
-->
<!--
<div class="wrapper-grid">
    <div class="box1">One</div>
    <div class="box2">Two</div>
    <div class="box3">Three</div>
    <div class="box4">four</div>
    <div class="box5">Five</div>
    <div class="box6">Six</div>
</div>
-->
<!--
<div class="wrapper-grid-custom">
    <div class="box1">One</div>
    <div class="box2">Two</div>
    <div class="box3">Three</div>
</div>
-->

<!-- float example -->
<!--
<h1>Simple float example</h1>
<div class="box">Float</div>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus aliquam
  dolor, eu lacinia lorem placerat vulputate. Duis felis orci, pulvinar id metus
  ut, rutrum luctus orci. Cras porttitor imperdiet nunc, at ultricies tellus
  laoreet sit amet. Sed auctor cursus massa at porta. Integer ligula ipsum,
  tristique sit amet orci vel, viverra egestas ligula. Curabitur vehicula tellus
  neque, ac ornare ex malesuada et. In vitae convallis lacus. Aliquam erat
  volutpat. Suspendisse ac imperdiet turpis. Aenean finibus sollicitudin eros
  pharetra congue. Duis ornare egestas augue ut luctus. Proin blandit quam nec
  lacus varius commodo et a urna. Ut id ornare felis, eget fermentum sapien.
</p>
-->

<!-- simple positioning example -->
<!--
<h1>Positioning</h1>
<p>I am a bsic block level element.</p>
<p class="positioned">I am a basic block level element.</p>
<p>I am a bsic block level element.</p>
-->

<!-- Fixed positioning -->
<!--
<h1>Fixed positioning</h1>

<div class="positioned">Fixed</div>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus aliquam
  dolor, eu lacinia lorem placerat vulputate. Duis felis orci, pulvinar id metus
  ut, rutrum luctus orci.
</p>

<p>
  Cras porttitor imperdiet nunc, at ultricies tellus laoreet sit amet. Sed
  auctor cursus massa at porta. Integer ligula ipsum, tristique sit amet orci
  vel, viverra egestas ligula. Curabitur vehicula tellus neque, ac ornare ex
  malesuada et.
</p>

<p>
  In vitae convallis lacus. Aliquam erat volutpat. Suspendisse ac imperdiet
  turpis. Aenean finibus sollicitudin eros pharetra congue. Duis ornare egestas
  augue ut luctus. Proin blandit quam nec lacus varius commodo et a urna. Ut id
  ornare felis, eget fermentum sapien.
</p>
-->
<!-- TODO: Sticky positioning -->

<!-- Table Layout -->
<!--
<form>
  <p>First of all, tell us your name and age.</p>
  <div>
    <label for="fname">First name:</label>
    <input type="text" id="fname" />
  </div>
  <div>
    <label for="lname">Last name:</label>
    <input type="text" id="lname"/>
  </div>
  <div>
    <label for="age">Age:</label>
    <input type="text" id="age"/>
  </div>
</form>
-->

<!-- flex box skills -->
<!-- task 1 -->
<!--
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/products">Our Products</a></li>
    <li><a href="contact">Contact Us</a></li>
  </ul>
</nav>
-->

<!-- task 2 -->
<!--
<ul>
  <li>I am small</li>
  <li>I have more content than the very small item.</li>
  <li>I have lots of content. So much content that i don't know where
    it is all going to go. I'm glad that CSS is pretty 
    good at dealing with situations where we end up with
    more words than expected!</li>
</ul>
-->

<!-- task 3 -->
<!--
<div class="parent">
  <div class="child">Center me.</div>
</div>
-->

<!-- task 4 -->
<!--
<ul>
  <li>Turnip</li>
  <li>greens</li>
  <li>yarrow</li>
  <li>ricebean</li>
  <li>rutabaga</li>
  <li>endive</li>
  <li>cauliflower</li>
  <li>sea lettuce</li>
  <li>kohlrabi</li>
  <li>amaranth</li>
</ul>
-->

<!-- default (login/landing) page -->
<div class="default layout nes-container is-dark viewport">
  <div class="layout-child">
    <h1 class="nes-text">ft_transcendence</h1>
    <h6 class="nes-text">a pong game</h6>
    <button class="nes-btn is-primary"><h1>Play !</h1></button>
  </div>
</div>