<div class="nes-container is-dark is-centered with-title">
    <label class="title">Current games</label>
    <div *ngIf="type == 'flex'" class="game-spectate-box">
        <div class="game-spectate-element" *ngFor="let game of online_games; let i = index">
            <div class="game-spectate-element-header">
                <div class="game-spectate-element-player-1">
                    <app-player-info-short type="history"></app-player-info-short>
                    <label>{{ game.players[0].name }}</label>
                </div>
                <label>Vs</label>
                <div class="game-spectate-element-player-2">
                    <app-player-info-short type="history"></app-player-info-short>
                    <label>{{ game.players[1].name }}</label>
                </div>
            </div>
            <img src="assets/game-0{{i % 5}}.png">
        </div>
    </div>
    <swiper
        *ngIf="type == 'swiper'"
        [slidesPerView]="'auto'"
        [spaceBetween]="50"
        [navigation]="true"
        [pagination]="{ clickable: true }"
        [scrollbar]="{ draggable: true }"
    >
        <ng-template swiperSlide class="game-spectate-element" *ngFor="let game of online_games; let i = index">
            <div class="game-spectate-element-header">
                <div class="game-spectate-element-player-1">
                    <app-player-info-short type="history"></app-player-info-short>
                    <label>{{ game.players[0].name }}</label>
                </div>
                <label>Vs</label>
                <div class="game-spectate-element-player-2">
                    <app-player-info-short type="history"></app-player-info-short>
                    <label>{{ game.players[1].name }}</label>
                </div>
            </div>
            <img src="assets/game-0{{i % 5}}.png">
        </ng-template>
    </swiper>
</div>