<router-outlet></router-outlet>
<!--<app-global-background id="app-global-background"></app-global-background>-->
<!--<app-user-info></app-user-info>-->
<!--<app-default></app-default>-->
<!--<app-main></app-main>-->
<!--<app-action-button></app-action-button>-->
<!--<app-pong-game></app-pong-game>-->

<!--<app-game-help-dialog></app-game-help-dialog>-->

<!--<app-room-search></app-room-search>-->
<!--<app-new-room></app-new-room>-->
<!--<app-pong-game></app-pong-game>-->
<!--<app-room-list></app-room-list>-->