<div class="nes-container is-dark viewport layout">
    <nav>
        <div>
            <!--<span>Player info</span>-->
            <!--<img class="nes-avatar is-pixelated is-large" src="https://www.gravatar.com/avatar/3bc8ceda0c2d6dcbc3b4a844c02a39c4?default=retro">
            <h6>Rui Uyemara</h6>-->
            <app-player-info [player]="player"></app-player-info>
        </div>
        <div class="nav-tab">
            <span>Chat</span>
        </div>
        <div class="nav-tab">
            <span>Leaderboard</span>
        </div>
        <div class="nav-tab">
            <span>Settings</span>
        </div>
        <div>
            <!--<span>X</span>-->
            <button class="nes-btn is-warning" (click)="logout()">X</button>
        </div>
    </nav>
    <div id="display">
        <!--<span>Display</span>-->
        <div :hidden class="chat nes-container">
            <section class="message-list">
                <section class="message -left">
                    <i class="nes-bcrikko"></i>
                    <!-- Balloon -->
                    <div class="nes-balloon from-left is-dark">
                        <p>Hello NES.css</p>
                    </div>
                </section>
                <section class="message -right">
                    <!-- Ballon -->
                    <div class="nes-balloon from-right is-dark">
                        <p>Good morning. Thou has had a good night's sleep, I hope.</p>
                    </div>
                    <i class="nes-bcrikko"></i>
                </section>
            </section>
        </div>
        <app-player-settings [player]="player" (playerUpdateEvent)="updatePlayer($event)"></app-player-settings>
    </div>
</div>
