div.layout {
    display: flex;
    flex-direction: column;
    //height: 100vh;
    padding: 1.2em;
    // debug
    //border: 2px dashed yellow;
}

.layout > nav {
    display: flex;
    flex: 2;
    margin: 1em;
    // debug
    //border: 2px solid darkgray;
}

.layout > nav > div {
    flex-basis: auto;
    flex-grow: 1;
    // debug
    //border: 2px dashed orange;
}

.layout > nav > div.nav-tab {
    text-align: center;
}

#display {
    flex: 8;
    // debug
    //border: 2px dashed purple;
}

.chat {
    height: 100%;
}