<div *ngIf="type == 'normal'" class="nes-container is-dark">
    <img class="nes-avatar is-medium"
    (error)="onAvatarSrcError($event)"
    [src]="getAvatarSrc()">
    <span>{{ player.name }}</span>

    <!-- angular cdk/menu -->
    <button [cdkMenuTriggerFor]="menu">></button>

    <ng-template #menu>
      <div cdkMenu>
        <button (click)="sendFriendRequest()" cdkMenuItem>add friend</button>
        <button cdkMenuItem>send message</button>
        <button (click)="inviteFor1vs1()" cdkMenuItem>invite for 1vs1</button>
        <button (click)="block()"cdkMenuItem>block</button>
      </div>
    </ng-template>

</div>
<div *ngIf="type == 'history'">
  <img class="nes-avatar"
  (error)="onAvatarSrcError($event)"
  [src]="getAvatarSrc()"
  [cdkContextMenuTriggerFor]="menu"
  (click)="showProfile()"
  >

  <!-- angular cdk/menu -->
  <ng-template #menu>
    <div cdkMenu>
      <button (click)="openProfile()" cdkMenuItem>profile</button>
      <button (click)="showPlayerMatchHistory()" cdkMenuItem>match history</button>
      <hr/>
      <button (click)="sendFriendRequest()" cdkMenuItem>add friend</button>
      <button cdkMenuItem>send message</button>
      <button (click)="inviteFor1vs1()" cdkMenuItem>invite for 1vs1</button>
      <button (click)="block()"cdkMenuItem>block</button>
    </div>
  </ng-template>

</div>
<div *ngIf="type == 'chat'">
  <img class="nes-avatar"
  (error)="onAvatarSrcError($event)"
  [src]="getAvatarSrc()"
  [cdkContextMenuTriggerFor]="menu"
  (click)="showProfile()"
  >

  <!-- angular cdk/menu -->
  <ng-template #menu>
    <div cdkMenu>
      <button (click)="openProfile()" cdkMenuItem>profile</button>
      <button (click)="showPlayerMatchHistory()" cdkMenuItem>match history</button>
      <hr/>
      <button (click)="sendFriendRequest()" cdkMenuItem>add friend</button>
      <button cdkMenuItem>send message</button>
      <button (click)="inviteFor1vs1()" cdkMenuItem>invite for 1vs1</button>
      <button (click)="block()"cdkMenuItem>block</button>
    </div>
  </ng-template>

</div>
<div *ngIf="type == 'room'">
  <img class="nes-avatar"
  (error)="onAvatarSrcError($event)"
  [src]="getAvatarSrc()"
  [cdkContextMenuTriggerFor]="menu"
  (click)="showProfile()"
  >

  <!-- angular cdk/menu -->
  <ng-template #menu>
    <div cdkMenu>
      <button (click)="openProfile()" cdkMenuItem>profile</button>
      <button (click)="showPlayerMatchHistory()" cdkMenuItem>match history</button>
      <hr/>
      <button (click)="sendFriendRequest()" cdkMenuItem>add friend</button>
      <button cdkMenuItem>send message</button>
      <button (click)="inviteFor1vs1()" cdkMenuItem>invite for 1vs1</button>
      <button (click)="block()"cdkMenuItem>block</button>
      <hr/>
      <button (click)="addAsAdmin()" cdkMenuItem>add as admin</button>
      <hr/>
      <button (click)="kickPlayer()" cdkMenuItem>kick</button>
      <button (click)="mutePlayer()" cdkMenuItem>mute</button>
      <button (click)="banPlayer()" cdkMenuItem>ban</button>
    </div>
  </ng-template>

</div>