#game {
    height: 60vh;
    width: 100vw;
    min-width: 420;
}

#game > canvas {
    height: 60vh;
    width: 100vw;
    min-width: 420;
}

button.classic {
    position:fixed;
    bottom: 200px;
    right: 50px;
}
button.custom {
    position:fixed;
    bottom: 200px;
    right: 200px;
}
button.loadGame {
    position:fixed;
    bottom: 300px;
    right: 50px;
}

p.score {
    position: fixed;
    right: 50%;
    margin-right: -40px;
}
