#game {
    height: 60vh;
    width: 100vw;
    min-width: 420;
}

#game > canvas {
    height: 60vh;
    width: 100vw;
    min-width: 420;
}

button.classic {
    position:fixed;
    top: 400px;
    left: 300px;
    font-size: 4em;
}
button.custom {
    position:fixed;
    top: 400px;
    right: 300px;
    font-size: 4em;
}
button.loadGame {
    position:fixed;
    bottom: 300px;
    right: 50px;
}

p.score {
    //position: fixed;
    //right: 50%;
    //margin-right: -40px;
}

p.welcome {
    position: fixed;
    font-size: 3em;
    top: 200px;
    right: 50%;
    margin-right: -300px;
}

div.info {
    display: flex;
    justify-content: center;
    position: fixed;
    /* center the div */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 50%;
    /* just for example presentation */
    //top: 5em;
    //background-color: blue;
}

.player {
    display: flex;
}

.player > label {
    margin-right: 1em;
    margin-left: 1em;
}

.info-element {
    margin: 1em;
}