<div class="nes-container is-dark">
    <img class="nes-avatar is-medium"
    (error)="onAvatarSrcError($event)"
    [src]="getAvatarSrc()">
    <span>{{ player.name }}</span>

    <!-- angular cdk/menu -->
    <button [cdkMenuTriggerFor]="menu">></button>

    <ng-template #menu>
      <div cdkMenu>
        <button (click)="sendFriendRequest()" cdkMenuItem>add friend</button>
        <button cdkMenuItem>send message</button>
        <button cdkMenuItem>invite for 1vs1</button>
        <button (click)="block()"cdkMenuItem>block</button>
      </div>
    </ng-template>

</div>