<div class="nes-container is-dark is-centered with-title">
    <span class="title">Friends</span>
    <div class="nes-container is-dark with-title">
        <span class="title">Search</span>
        <input type="search"/>
    </div>
    <div class="nes-container is-dark with-title">
        <span class="title">List</span>
        <div class="list">
            <app-player-info-short class="list-item"></app-player-info-short>
            <app-player-info-short class="list-item"></app-player-info-short>
            <app-player-info-short class="list-item"></app-player-info-short>
            <app-player-info-short class="list-item"></app-player-info-short>
            <app-player-info-short class="list-item"></app-player-info-short>
            <app-player-info-short class="list-item"></app-player-info-short>
            <app-player-info-short class="list-item"></app-player-info-short>
            <app-player-info-short class="list-item"></app-player-info-short>
        </div>
    </div>
</div>
